apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ .Release.Name }}-{{ .Chart.Name }}"
spec:
  serviceName: "{{ .Release.Name }}-{{ .Chart.Name }}"
  replicas: 1
  selector:
    matchLabels:
      app: "{{ .Release.Name }}-{{ .Chart.Name }}"
  template:
    metadata:
      labels:
        app: "{{ .Release.Name }}-{{ .Chart.Name }}"
    spec:
      containers:
        - image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          name: "{{ .Release.Name }}-{{ .Chart.Name }}"
          ports:
            - name: "{{ .Chart.Name }}"
              containerPort: {{ .Values.port }}
          env:
          - name: "ELASTICSEARCH_HOSTS"
            value: "http://{{ .Release.Name }}-elasticsearch:{{ .Values.global.elasticSearch.port }}"